<section class="c-post__reactions-wrapper o-stack">
    {{#if footer}}
    <footer class="c-post__footer o-stack--sm">
        {{#if reaction}}
        <div class="c-post__reactions">
            {{#each reaction}}
            <div class="c-post__reactions-{{#if likes}}likes{{/if}}{{#if reposts}}reposts{{/if}}">
                <svg class="o-icon u-mr-1" aria-hidden="true">
                    <use href="#icon-{{#if likes}}like{{/if}}{{#if reposts}}repost{{/if}}"></use>
                </svg>
                {{> @avatar-list}}
            </div>
            {{/each}}
            {{#if comments}}
            <div class="c-post__reactions-comments">
                <svg class="o-icon u-mr-1" aria-hidden="true">
                    <use href="#icon-comments"></use>
                </svg>
                <span class="c-post__reactions-comments-number">
                    {{comments}}
                </span>
            </div>
            {{/if}}
        </div>
        {{/if}}
        {{#if post-actions}}
        <div class="c-post__actions">
            <a href="#" class="c-btn c-btn--subtle c-btn--icon">
                <svg class="o-icon u-mr-1" aria-hidden="true">
                    <use href="#icon-reply"></use>
                </svg>
                Reply
            </a>
            <a href="#" class="c-btn c-btn--subtle c-btn--icon">
                <svg class="o-icon u-mr-1" aria-hidden="true">
                    <use href="#icon-repost"></use>
                </svg>
                Retweet
            </a>
            <a href="#" class="c-btn c-btn--subtle c-btn--icon">
                <svg class="o-icon u-mr-1" aria-hidden="true">
                    <use href="#icon-like"></use>
                </svg>
                Like
            </a>
            <a href="#" class="c-btn c-btn--subtle c-btn--icon">
                <svg class="o-icon" aria-hidden="true">
                    <use href="#social-twitter"></use>
                </svg>
            </a>
        </div>
        {{/if}}
    </footer>
    {{/if}}
    {{#if comments}}
    <section class="c-comments__section o-stack--sm">
        <h2 class="o-heading--md">Replies</h2>
        {{> @comments}}
    </section>
    {{/if}}
</section>