{{ define "main" }}
	<main class="o-stack--xl o-stack--xxl@md">
		<section class="o-stack">
			{{ partial "components/section-heading.html" (dict "text" "Blog" "link" "/blog" "desc" "See all posts") }}
			<div class="c-posts__list">
				{{ range first 3 (where .Site.RegularPages "Type" "blog") }}
					<article class="h-entry c-posts__item o-stack">
						<div class="o-stack--xs">
							<header class="o-stack--xxs">
								<h1 class="c-posts__item-title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
								<div class="c-posts__item-meta">
									<span class="u-d-inline-flex u-align-items-center">
										<svg class="o-icon" aria-hidden="true">
											<use href="#icon-calendar"></use>
										</svg>
										<time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">
											{{ if eq .Lang "es" }}{{ .Date.Day }} {{ index $.Site.Data.meses (printf "%d" .Date.Month) }} {{ .Date.Year }}{{ else }}{{.Date.Format "Jan 2 2006"}}{{ end }}
										</time>
									</span>
									<span class="u-d-inline-flex u-align-items-center u-ml-2">
										<svg class="o-icon" aria-hidden="true">
											<use href="#icon-read"></use>
										</svg>
										{{ .ReadingTime }} min
									</span>
								</div>
							</header>
							<p class="c-posts__item-summary">
								{{ .Summary }}
							</p>
						</div>
						<a class="c-btn c-btn--link" href="{{ .RelPermalink }}">Continue reading →</a>
					</article>
				{{ end }}
			</div>
		</section>
		<section>
			{{ partial "components/section-heading.html" (dict "text" "Notes" "link" "notes" "desc" "See all notes") }}
			<ul>
				{{ range first 6 (where .Site.Pages "Type" "in" (slice "photos" "videos" "replies" "notes" "links" "likes")) }}
					<li>{{.Type}}
						{{ if or .Title .Content }}
							<p>{{ .Summary }}</p>
							{{ else }}
							{{ if .Params.tweet_author }}
								<span class="heart">🖤</span> {{ i18n "liked" }}
								a <a class="u-like-of" href="{{ .Params.like_of }}">tweet</a> by <a href="https://twitter.com/{{.Params.tweet_author}}">{{.Params.tweet_author}}</a>
								{{else if .Params.ig_post}}
								an <a class="u-like-of" href="{{ .Params.like_of }}">instagram post</a>
								{{else}}
								the post: <a class="u-like-of" href="{{ .Params.like_of }}">{{ .Params.like_of }}</a>
							{{ end }}
						{{ end }}
						<p>
							<a href="{{ .RelPermalink }}">
								<strong><time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">{{ if eq .Lang "es" }}{{ .Date.Day }} {{ index $.Site.Data.meses (printf "%d" .Date.Month) }} {{ .Date.Year }}{{ else }}{{.Date.Format "Jan 2 2006"}}{{ end }}</time></strong>
							</a>
						</p>
					</li>
				{{ end }}
			</ul>
		</section>
	</main>
{{ end }}
