.o-heading {
    font-family: var(--font-sans);
}

.o-heading--post-title {
    @include heading-serif--post-title;
}

.o-lead-intro {
    font-family: var(--font-serif);
    margin: initial;
    @include lead-serif-1;
    
    

    a {
        color: var(--color-dark);
        text-decoration: underline;
        text-underline-offset: var(--space-xxxs);
        text-decoration-thickness: rem(2);
        text-decoration-color: var(--color-grey-400);

        &:hover {
            color: var(--color-grey-700);
            text-shadow: rem(1) 0 rem(2) var(--color-grey-300);
            text-decoration-thickness: rem(3);
            text-decoration-color: var(--color-dark);
        }
    }
}

.o-heading--md {
    @include body-sans-3;
    font-weight: 550;
}