.o-page {
    min-height: 100vh;

    &.o-container {
        padding-top: var(--space-lg);
        padding-bottom: var(--space-lg);
        
        @include respond-above(md) {
            padding-top: var(--space-xl);
            padding-bottom: var(--space-xxl);
         }
    }
    
    .c-nav {
        position: fixed;
        left: 0; right: 0;
        bottom: 0;
        width: 100%;
    
        @include respond-above(sm) {
            position: static;
        }
    }
}