<footer class="c-footer">
    <div class="o-container o-grid">
        <div class="o-stack--sm o-grid__span-col--8@sm">
			{{ if .IsTranslated }}
				{{ range $i, $e := .Translations }}
					{{ if $i }},{{ end }}
				<a href="{{ .Permalink }}" class="c-footer__lang o-link__text u-d-inline-flex u-align-items-center" rel="alternate" hreflang="{{ .Lang }}" lang="{{ .Lang }}">
					<svg class="o-icon" aria-hidden="true">
						<use href="#icon-lang"></use>
					</svg>
					<span>{{ $e.Language.LanguageName }}</span>
				</a>
				{{ end }}
			{{ end }}
            <div class="c-footer__text">
                {{i18n "footer-text" | safeHTML}}
                <p>© 2010 – {{ now.Year }} <a href="{{ "/colophon" | relLangURL }}" class="u-ml-1">{{i18n "colophon"}}</a></p>
            </div>
        </div>
        <div class="o-stack--sm o-grid__span-col--4@sm">
            <div class="c-footer__social">
                <a href="https://twitter.com/ramiroruiz" class="c-footer__social-link" title="twitter">
                    <svg class="o-icon" aria-hidden="true">
                        <use href="#social-twitter"></use>
                    </svg>
                </a>
                <a href="https://linkedin.com/in/ramiroruiz/" class="c-footer__social-link" title="linkedin">
                    <svg class="o-icon" aria-hidden="true">
                        <use href="#social-linkedin"></use>
                    </svg>
                </a>
                <a href="https://instagram/ramiroruiz" class="c-footer__social-link" title="instagram">
                    <svg class="o-icon" aria-hidden="true">
                        <use href="#social-instagram"></use>
                    </svg>
                </a>
                <a href="https://dribbble.com/ramiroruiz" class="c-footer__social-link" title="dribbble">
                    <svg class="o-icon" aria-hidden="true">
                        <use href="#social-dribbble"></use>
                    </svg>
                </a>
            </div>
            <a href="mailto:yo@ramiroruiz.com?subject=Contact%20from%20website" class="c-btn c-btn--sm c-btn--light u-f-weight--300">
                {{ i18n "email-me" }}
            </a>
        </div>
    </div>
</footer>