<main class="o-container--main o-stack o-stack--xl@sm">
	{{ partial "components/section-heading.html" (dict "section_heading_current" "yes" "section_heading" .Title) }}
	<div class="o-grid-page o-stack o-stack--lg@md">
        <div class="o-grid-page--list">
            {{ if .Params.all_notes }}
                <div class="c-tag-list o-pull o-pull--left o-pull--right">
                    <h3 class="u-f-weight--350">{{ i18n "recent_tags" }}</h3>
                    <ul class="u-pl-0 u-mt-1">
                        {{/* Create a sorted slice of tags present in the listed pages. */}}
                        {{ $tags := slice }}
                        {{ range first 20 (where .Site.RegularPages "Type" "in" (slice "photos" "links" "notes" "replies" "videos")) }}
                            {{ if .Params.tags }}
                            {{ $tags = $tags | append .Params.tags }}
                            {{ end }}
                        {{ end }}
                        {{ $tags = $tags | uniq | sort }}

                        {{/* Range through the tags, then range through the pages that contain that tag. */}}
                        {{ $pages := .Pages }}
                        {{ range $tags }}
                        <li class="c-tag-list__item"><a class="c-tag p-category" href="{{ "/tags/" | relLangURL}}{{ . | urlize }}">{{ . }}</a></li>
                        {{ end }}
                    </ul>
                </div>
                <div class="o-stack o-stack--lg@lg">
                    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" (slice "photos" "links" "notes" "replies" "videos")) 20 }}
                    {{ range $paginator.Pages }}
                        {{ partial "components/note-items.html" . }}
                    {{end}}
                </div>
            {{else}}
                <div class="c-tag-list o-pull o-pull--right">
                    <h3 class="u-f-weight--350">{{ i18n "recent_tags" }}</h3>
                    <ul class="u-pl-0 u-mt-1">
                        {{/* Create a sorted slice of tags present in the listed pages. */}}
                        {{ $tags := slice }}
                        {{ range first 20 (where .Site.RegularPages "Type" .Params.page_type) }}
                            {{ if .Params.tags }}
                            {{ $tags = $tags | append .Params.tags }}
                            {{ end }}
                        {{ end }}
                        {{ $tags = $tags | uniq | sort }}

                        {{/* Range through the tags, then range through the pages that contain that tag. */}}
                        {{ $pages := .Pages }}
                        {{ range $tags }}
                        <li class="c-tag-list__item"><a class="c-tag p-category" href="{{ "/tags/" | relLangURL}}{{ . | urlize }}">{{ . }}</a></li>
                        {{ end }}
                    </ul>
                </div>
                <div class="o-stack o-stack--lg@lg">
                    {{ $paginator := .Paginate (where .Site.RegularPages "Type" .Params.page_type) 20 }}
                    {{ range $paginator.Pages }}
                        {{ partial "components/note-items.html" . }}
                    {{end}}
                </div>
            {{ end }}
            {{ template "_internal/pagination.html" . }}
            </div>
	</div>
</main>