{{ partial "header.html" . }}
      <main>
        <h2 class="c-hola" lang="es">
            <strong class="c-hola__text">Hola!</strong>
            <svg class="c-hola__svg" viewBox="0 0 55 50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
            <text class="c-hola__ho" x="0" y="23">Ho<tspan class="c-hola__la" textLength="42.3" x="0" y="49">la</tspan></text>
            <g class="c-hola__!" transform="scale(0.17) translate(262 7)">
              <path x="10" d="M3.59033 218.685V282H53.6726V218.685H3.59033Z"></path>
              <path d="M3.93232 209.092L0.700684 0.91861H56.5616L53.33 209.092H3.93232Z"></path>
            </g>
          </svg>
        </h2>

        {{ .Site.Params.myintro | safeHTML }}

      </main>
      <footer>
        <a href="mailto:xyox@ramiroxruiz.xcom?subject=Website Contact" onmouseover="this.href=this.href.replace(/x/g,'');" title="Contact" class="contact"><svg aria-hidden="true" width="41" height="26" viewBox="0 0 41 26" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M13.5 12L2 3.7 3.3 2l18 12.6L38.6 2 40 3.8l-12 8.6 11 10-1.4 1.6-11.4-10.3-4.3 3c-.5.4-1 .4-1.4 0l-5.2-3.5L3.4 24 2 22.4 13.5 12zm24-9H3.7c-.5 0-1 .3-1 .8v18.6c0 .5.5 1 1 1h33.6c.5 0 1-.5 1-1V3.8c0-.5-.5-1-1-1zm0-2.4c1.7 0 3 1.4 3 3.2v18.6c0 1.8-1.3 3.2-3 3.2H3.7C2 25.6.6 24.2.6 22.4V3.8C.6 2 2 .6 3.8.6h33.6z" id="a"/></defs><use fill="#FFF" fill-rule="nonzero" xlink:href="#a"/></svg></a>
        <p class="copy">&copy; 2010 &ndash; 2018 Ramiro Ruiz</p>
      </footer>
    </div>
  </body>
</html>
