<!-- Defining type name classes -->
{{ $type := "text" }}
{{ if eq .Type "likes" }}
    {{ $type = "like" }}

    {{ else if eq .Type "links" }}
        {{ $type = "link" }}
    {{ else if eq .Type "replies" }}
        {{ $type = "reply" }}
    {{ else if eq .Type "photos" }}
        {{ $type = "photo" }}
    {{ else if eq .Type "videos" }}
        {{ $type = "video" }}
{{end}}
<article class="h-entry">
    <div class="c-note c-note--{{$type}} c-masonry-list__item o-stack--xxs">
        <div class="c-note__content o-stack--xs">
        {{ if eq .Type "replies"}}
            {{- partial "components/notes/reply.html"
                (dict
                    "avatar" .Params.avatar
                    "avatar_size" "sm"
                    "context_author_name" .Params.context_author_name
                    "context_author_url" .Params.context_author_url
                    "context_url" .Params.context_url
                    "context_date" .Params.context_date
                    "context_date_friendly" .Params.context_date_friendly
                    "context" .Params.context
                )
            -}}
        {{ end }}
        {{if eq .Type "links" }}
            {{ partial "components/notes/link.html"
                (dict
                    "link_url" .Params.link_url
                    "link_title" .Params.link_title
                    "link_class" "link"
                )}}
        {{end}}
        {{if eq .Type "photos" }}
            {{- partial "components/notes/photo.html" . -}}
        {{end}}
        {{if eq .Type "videos" }}
            {{- partial "components/notes/video.html" . -}}
        {{end}}
        {{if eq .Type "likes" }}
            {{- partial "components/notes/like.html" . -}}
        {{else}}
            <div class="c-note__content-text c-note--{{$type}}__content-text">
                {{ .Content | safeHTML}}
            </div>
        {{end}}
        {{with eq .Type "reposts" }}
            {{- partial "components/notes/repost.html" -}}
        {{end}}
        </div>
        <div class="u-d-flex u-justify-between">
            <a href="{{ .RelPermalink }}" class="c-note__date u-url">
                <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">
                    {{ if eq .Lang "es" }}{{ .Date.Day }} {{ index $.Site.Data.meses (printf "%d" .Date.Month) }} {{ .Date.Year }}{{ else }}{{.Date.Format "Jan 2 2006"}}{{ end }}
                </time>
            </a>
            {{ with .Params.tweet_id }}
            <a href="https://twitter.com/{{ i18n "twitter" }}/status/{{.}}" title="{{ i18n "syndicated-twitter" }}" rel="syndication" class="u-syndication">
                <svg class="o-icon" aria-hidden="true" width="16" height="16">
                    <use href="#social-twitter"></use>
                </svg>
            </a>
            {{ end }}
        </div>
        <a class="c-note__icon" href="{{ .Type | relLangURL}}">
            <svg class="c-note__icon" width="16" height="16" aria-hidden="true">
                <use href="#note-{{$type}}"></use>
            </svg>
        </a>
    </div>
</article>