<div class="c-post__meta o-stack--xxs@md">
    <div class="c-post-meta c-post-meta--time">
        <svg class="o-icon u-mr-1" aria-hidden="true">
            <use href="#icon-time"></use>
        </svg>
        {{ .Date.Format "3:04 PM" }}
    </div>
    {{ $blog_item  := .Scratch.Get "blog_item" }}
    {{- if $blog_item -}}
        {{ partial "components/meta-read" . }}
    {{- end -}}
    {{ if .IsTranslated }}
        {{ range $i, $e := .Translations }}
            {{ if $i }},{{ end }}
            <div class="c-post-meta c-post-meta--lang">
                <svg class="o-icon u-mr-1" aria-hidden="true">
                    <use href="#icon-lang"></use>
                </svg>
                <a class="c-post-meta__link" href="{{ .Permalink }}" rel="alternate" hreflang="{{ .Lang }}" lang="{{ .Lang }}">
                    {{ $e.Language.LanguageName }}
                </a>
            </div>
        {{ end }}
    {{ end }}
    {{- if .Params.weather}}
        <div title="{{ .Params.weather_summary }}" class="c-post-meta c-post-meta--weather">
            <svg class="o-icon u-mr-1" aria-hidden="true">
                <use href="#icon-weather-{{ .Params.weather_icon }}"></use>
            </svg>
            {{ .Params.weather }}
        </div>
    {{ end -}}
    {{- if .Params.location_dms}}
    <div class="c-post-meta c-post-meta--location">
        <svg class="o-icon u-mr-1" aria-hidden="true">
            <use href="#icon-location"></use>
        </svg>
        <a class="c-post-meta__link p-location h-geo" href="https://www.openstreetmap.org/#map=15/{{.Params.lat}}/{{.Params.long}}">
            {{ .Params.location_dms }}
        </a>
    </div>
    {{ end -}}
    {{- if eq .Type "photos" "links" "replies" "notes" "videos" }}
        {{- partial "wm" . -}}
        {{- partial "sidebar-responses" . -}}
    {{- end }}
    {{- with .Params.tags }}
        <div class="c-post__meta-item c-post__meta-item--tags">
            {{ range . }}
                <a class="c-tag"​ href="{{ "/tags/" | relLangURL}}{{ . | urlize }}"​>{{ . }}</a>
            {{ end }}
        </div>
    {{ end -}}
</div>