<ul class="c-tag-list o-pull o-pull--left u-mb-4 u-pl-0">
    {{/* Create a sorted slice of tags present in the listed pages. */}}
    {{ $tags := slice }}
    {{ range .RegularPages }}
    {{ $tags = $tags | append .Params.tags }}
    {{ end }}
    {{ $tags = $tags | uniq | sort }}

    {{/* Range through the tags, then range through the pages that contain that tag. */}}
    {{ $pages := .Pages }}
    {{ range $tags }}
    <li class="c-tag-list__item"><a class="c-tag" href="{{ "/tags/" | relLangURL}}{{ . | urlize }}">{{ . }}</a></li>
    {{ end }}
</ul>