<div class="c-user-post h-cite u-in-reply-to o-stack--xxs">
    <header class="c-user-post__header">
        <span class="c-user-post__author p-author h-card">
            {{> @avatar}}
            <a class="c-user-post__author-name p-name u-url author_url" href="{{post-author-url}}">{{post-author}}</a>
        </span>
        <a href="{{post-url}}" class="c-user-post__date u-url"><time class="dt-published" datetime="2021-06-14T18:27:27Z">Jun 14, 2021 at 6:27 p.m.</time></a>
    </header>
    <div class="c-user-post__text post-text e-content">
        {{post-text}}
    </div>
</div>