{{ partial "header.html" . }}
<main>
  <article class="h-entry post">
    <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">{{ if eq .Lang "es" }}{{ .Date.Day }} {{ index $.Site.Data.meses (printf "%d" .Date.Month) }} {{ .Date.Year }}{{ else }}{{.Date.Format "Jan 2 2006"}}{{ end }}</time>
    <div class="p-name p-content">
      {{ .Content }}
        {{ if .Params.syndication_links }}
        {{ range .Params.syndication_links }}
          <a href="{{ . }}"></a>
        {{ end }}
      {{ end }}
    </div>
    <div class="post-meta">
      {{ if .Params.weather }}{{ .Params.weather }}{{ end }}
      {{ if .Params.tweet_id }}
        <a title="Like using Twitter" href="https://twitter.com/intent/like?tweet_id={{.Params.tweet_id}}">Like</a>
        <a title="Retweet using Twitter" href="https://twitter.com/intent/retweet?tweet_id={{.Params.tweet_id}}">Retweet</a>
        <a title="Reply using Twitter" href="https://twitter.com/intent/tweet?in_reply_to={{.Params.tweet_id}}">Reply</a>
        <p><a rel="syndication" class="u-syndication" href="https://twitter.com/ramiroruiz/status/{{.Params.tweet_id}}" title="This post was syndicated to Twitter">Syndication</a></p>
      {{ end }}
      <p>Tags: {{ if .Params.tags }}{{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}{{ end }}</p>
    </div>
  </article>
</main>
{{ partial "single-footer.html" . }}
