<div class="o-page o-stack--xl o-stack--xxl@md">
    <div class="o-container o-stack--lg o-stack--xl@md o-stack--xxl@lg">
        <header class="o-stack--xl">
            {{ render '@nav' }}
        </header>
        <main class="o-container--main o-stack--xl o-stack--xxl@md">
            {{> '@post' }}
        </main>
    </div>
    {{ render '@footer' }}
</div>