a {
  color: var(--color-dark);
  text-decoration: underline;
  text-underline-offset: var(--space-xxxs);
  text-decoration-thickness: rem(1.5);
  text-decoration-color: var(--color-grey-400);
  transition: var(--global-transition);

  &:hover {
    color: var(--color-grey-800);
    text-decoration-thickness: rem(2);
    text-decoration-color: var(--color-dark);
  }
}