.c-hola {
  margin: rem(-5);
  font-family: 'Titillium Web', Helvetica, sans-serif;
  font-size: rem(32px);
  font-weight: 900;
  text-transform: uppercase;
}
  .c-hola__la {
    font-size: rem(36px);
  }
  .c-hola__\! {
    transform: scale(1.3, 2.22);
  }
