.c-hola {
  font-family: 'Titillium Web', Helvetica, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

  .c-hola__text {
    text-indent: -9999rem;
    position: absolute;

    @media only screen and (min-width: rem(420)) {
      text-indent: 0;
      position: static;
    }
  }

  .c-hola__svg {
    margin: rem(-5) rem(-5) var(--space-unit);
    width: 100%;

    @media only screen and (min-width: rem(420)) {
      display: none;
    }
  }

    .c-hola__la {
      font-size: rem(36px);
    }
