<h2 class="c-hola" lang="es">
  <strong class="c-hola__text">Hola!</strong>
  <svg class="c-hola__svg" viewBox="0 0 55 50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true">
    <text class="c-hola__ho" x="0" y="23">Ho<tspan class="c-hola__la" textLength="42.3" x="0" y="49">la</tspan></text>
    <g class="c-hola__!" transform="scale(0.17) translate(262 7)">
      <path x="10" d="M3.59033 218.685V282H53.6726V218.685H3.59033Z"></path>
      <path d="M3.93232 209.092L0.700684 0.91861H56.5616L53.33 209.092H3.93232Z"></path>
    </g>
  </svg>
</h2>
