
    .c-note__content {
        padding: rem(12) var(--space-unit);
        border: rem(1) solid var(--color-grey-400);
        border-radius: var(--space-xxxxs);

        .c-note--like & {
            display: inline-block;
            align-self: start;
        }
    }

        .c-note--like__content-text {
            font-family: var(--font-sans);
        }

        .c-note__content-text {

            & + .c-note__context-wrapper {
                border-top: rem(1.5) solid var(--color-grey-300);
                padding-top: var(--space-xs);
            }
        }

        .c-note__context-wrapper {
            border-bottom: rem(1.5) solid var(--color-grey-300);
            padding-bottom: var(--space-unit);

            .c-note--repost & {
                border-bottom: 0;
                padding-bottom: 0;
            }
        }

    .c-note__icon {
        position: absolute;
        top: 0;
        left: 0;
        width: var(--space-unit);
        height: var(--space-unit);
        margin: 0;
        box-shadow: 0 0 0 var(--space-xxxs) var(--color-white);
        color: var(--color-grey-300);
    }
    
    .c-note__date {
        color: var(--color-grey-600);
        @include body-sans-7;
        font-weight: 350;
    }

    .c-note__date,
    .c-note__context-author-name,
    .c-note__context-date {
        text-underline-offset: var(--space-xxxs);
        text-decoration-thickness: rem(1);
        text-decoration-color: var(--color-grey-400);

        &:hover {
            color: var(--color-grey-900);
            text-shadow: none;
            text-decoration-thickness: rem(2);
            text-decoration-color: var(--color-dark);
        }
    }

    .c-note {
        display: flex;
        flex-direction: column;

        &:not(.c-note--repost) .c-user-post {
            color: var(--color-grey-600);
        }

        .c-user-post {
            padding-left: var(--space-lg);
        }
       
        .c-user-post__header {
            font-size: rem(14);
        }

        .c-user-post__text {
            font-size: rem(16);
        }
    }

        .c-note__context-heading {
            font-weight: 500;
            font-size: rem(14);

            &.c-note--link__context-heading {
                font-size: var(--space-unit);
            }
        }
    

    .c-note--link {

        .c-note__context {
            padding-left: var(--space-unit);
            color: var(--color-grey-600);
            font-family: var(--font-sans);
        }
    }

    .c-note--photo__img {
        border-radius: rem(1);
        max-width: 100%;
    }

    .c-note--video__item {
        max-width: 100%;
    }