.c-posts__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    grid-gap: var(--space-xl);
}

    .c-posts__item-title {
        font-family: var(--font-serif);
        font-size: em(26);
        font-weight: 900;
    }

    .c-posts__item-meta {
        font-family: var(--font-sans);
        font-weight: 350;
        display: flex;
        align-items: center;

        .o-icon {
            margin-right: var(--space-xxxs);
        }
    }

    .c-posts__item-summary {
        font-size: em(21);
        font-weight: 350;
    }