.c-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-sm) var(--space-unit);
    border-top: rem(1) solid var(--color-grey-300);
    z-index: 10;
  
    // https://codepen.io/argyleink/pen/qBmJyvv 🔥
    --glass-lightness: 100%;

    background: hsla(0, 0%, var(--glass-lightness), .5);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);

    // @media (prefers-color-scheme: dark) {
    //     --glass-lightness: 0%;
    // }

    @supports not ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))) {
        background: hsla(0, 0%, var(--glass-lightness), .97);
    }

    @media (max-width: 374px) {
        padding-left: var(--space-xs);
        padding-right: var(--space-xs);
    }

    @include respond-above(sm) {
        border: 0;
        background: none;
        padding:  var(--space-sm) 0;
    }
}

    .c-nav__item {
        font-family: var(--font-body);
        font-size: rem(12);
        font-weight: 420;
        padding: var(--space-xs) var(--space-unit);
        text-transform: uppercase;
        letter-spacing: rem(.5);
        text-decoration: none;

        &:nth-child(1) {
            order: 3;
        }

        &:nth-child(2) {
            order: 1;
        }

        &:nth-child(3) {
            order: 2;
        }

        &:nth-child(4) {
            order: 4;
        }

        &:nth-child(5) {
            order: 5;
        }

        &.c-nav__logo {
            padding: 0 var(--space-xs);
        }

        &:disabled,
        &[disabled] {
            text-decoration: line-through;
            color: var(--color-grey-400);
            cursor: progress;
        }

        @media (max-width: 374px) {
            padding-left: var(--space-xs);
            padding-right: var(--space-xs);
        }

        @include respond-above(sm) {

            & {
                font-size: rem(14);
                font-weight: 500;
            }
            
            &.c-nav__logo {
                padding: 0;
                margin-right: auto;
                order: 1;
            }
        }
    }