.c-note {
    display: inline-block;
    position: relative;
    padding: 8px;
}

    .c-note__content {
        padding: rem(12) var(--space-unit);
        border: rem(1) solid var(--color-grey-400);
        border-radius: var(--space-xxxxs);
    }

        .c-note--like__content-text {
            font-family: var(--font-sans);
        }

    .c-note__icon {
        position: absolute;
        top: 0;
        left: 0;
        width: var(--space-unit);
        height: var(--space-unit);
        margin: 0;
        box-shadow: 0 0 0 var(--space-xxxs) var(--color-white);
        color: var(--color-grey-300);
    }

    .c-note__date {
        color: var(--color-grey-600);
        font-family: var(--font-sans);
        font-size: rem(12);
        letter-spacing: rem(.5);
        text-transform: uppercase;
        text-underline-offset: var(--space-xxxs);
        text-decoration-thickness: rem(1);
        text-decoration-color: var(--color-grey-400);

        &:hover {
            color: var(--color-grey-900);
            text-shadow: none;
            text-decoration-thickness: rem(2);
            text-decoration-color: var(--color-dark);
        }
    }