.c-home-intro {
    display: flex;
    align-items: flex-start;
    padding-bottom: var(--space-lg);
    border-bottom: rem(12) solid var(--color-dark);

    > *:first-child {
        width: 100%;
        max-width: 240px;
    }

    > * + * {
        margin-left: var(--space-lg);
    }

    @include respond-below(sm) {
        flex-direction: column;

        > *:first-child {
            max-width: 100%;
        }
        
        > * + * {
            margin: var(--space-lg) 0 0 0;
        }
    }
}