<div class="o-page o-stack--xl o-stack--xxl@md">
    <div class="o-container o-stack--lg o-stack--xxl@md">
        <header class="o-stack--xl">
            {{ render '@nav' }}
        </header>
        <main class="o-container--main o-stack--xl">
            {{> '@section-heading' }}
            <div class="o-grid-page o-stack o-stack--0@sm">
                <div class="o-grid__start-col--1 u-mt-1">
                    <p><em>A <strong><a href="https://en.wikipedia.org/wiki/Colophon_(publishing)">Colophon</a></strong> is an inscription at the end of a book or manuscript usually with facts about its production. Including details about typographic style, the fonts used, the paper used, and perhaps the binding method of the book.</em></p>
                </div>
                <div class="o-stack o-content">
                    <h2 id="about-the-site">About the site</h2>
                    <p>This website is my online home. It is not perfect and is constantly evolving as myself. It leans more on the personal side than the professional. Like a digital playground where I can experiment with new technologies, share and collect some of my thoughts and interests.</p>
                    <h2 id="design">Design</h2>
                    <p>There’s an old ongoing joke about designers struggling with creating or updating their portfolios. And it’s true. It’s hard to be your own client. Since I would not be entirely happy with many design variations I went ahead and took the MVP route.</p>
                    <p>Having a good enough base to keep building on top of it. I know I will never be fully satisfied so I’ll eventually build a site changelog to document the many upcoming improvements to this version.</p>
                    <p>Talking about versions, this is my 4th one.
                    Is very type heavy and clean, like a blank foundation to build upon.</p>
                    <p>You’re free to view the past and somewhat embarrassing versions.</p>
                    <ul>
                    <li><a href="https://v1.ramiroruiz.com">1st Version (2011)</a></li>
                    <li><a href="https://v2.ramiroruiz.com">2nd Version (2016)</a></li>
                    <li><a href="https://v3.ramiroruiz.com">3rd Version (2018)</a></li>
                    </ul>
                    <h2 id="typography">Typography</h2>
                    <p>I’m using two variable fonts on the site and I’m hosting them locally. <a href="https://github.com/weiweihuanghuang/Work-Sans">Work Sans</a> by <a href="http://weiweihuanghuang.github.io/">Wei Huang</a> and <a href="https://www.fontshare.com/fonts/zodiak">Zodiak</a> by <a href="https://www.indiantypefoundry.com/">Indian Type Foundry</a></p>
                    <h2 id="technology">Technology</h2>
                    <p>I use <a href="https://github.com/">GitHub</a>  to manage the source code and the site is host d and automatically deployed on <a href="https://www.netlify.com/">Netlify</a>.</p>
                    <p>This website is currently built using <a href="https://gohugo.io/">Hugo</a>, a static site generator. With my custom-made theme (V4).</p>
                    <p>I fine-tune design details on the site’s pattern library that I built using <a href="http://fractal.build">Fractal</a>.</p>
                    <h3 id="posting-content">Posting content</h3>
                    <p>Blog posts are usually written in  <a href="https://gohugo.io/content-management/formats/">Markdown</a> using <a href="https://bear.app/">Bear</a> and pushed to my repo using a <a href="https://support.apple.com/guide/shortcuts/welcome/ios">Shortcut</a> I made that uses GitHub’s API.</p>
                    <p>Most of my <a href="https://ramiroruiz.com/notes">notes</a> are first posted on <a href="https://twitter.com/ramiroruiz">twitter</a> and then syndicated to the site.</p>
                    <h3 id="indieweb">IndieWeb</h3>
                    <p>I’m all about what <a href="https://indieweb.org/">The IndieWeb</a> stands for, and I’m still far from completely <em>IndieWebify</em> my site but I’m working on it.</p>
                    <p>I receive and show <a href="https://indieweb.org/Webmention">Webmentions</a> on my posts thanks to <a href="https://webmention.io/">Webmention.io</a>.</p>
                    <p>While I did some tests and was able to publish using <a href="https://indieweb.org/Micropub">Micropub</a> clients too. I choose to not use them because of the bilingual nature of my site. I try to have most of my posts in both languages and I was able to create a workflow that works for me using a series of shortcuts. I’m sure it can be done with code but currently, that’s beyond the knowledge of this designer.</p>
                    <h2 id="web-analytics">Web analytics</h2>
                    <p>I’m using <a href="https://umami.is/">Umami</a>, a simple and self-hosted web privacy-focused analytics solution.</p>
                </div>
            </div>
        </main>
    </div>
    {{ render '@footer' }}
</div>