/*------------------------------------*\
  #CONTAINERS
\*------------------------------------*/

.o-container {
  max-width: rem(1280px);
  padding-right: rem(16);
  padding-left:  rem(16);
  margin-right: auto;
  margin-left:  auto;
}
