.o-stack > * + * {
  margin-top: var(--space-lg);
}
  .o-stack--lg > * + * {
    margin-top: var(--space-xxl);
  }

  .o-stack--sm > * + * {
    margin-top: var(--space-unit);
  }

  .o-stack--xs > * + * {
    margin-top: var(--space-xs);
  }


.o-stack__horizontal > * + * {
  margin-left: var(--space-lg);
}

  .o-stack__horizontal--small > * + * {
    margin-left: var(--space-unit);
  }
