/*------------------------------------*\
  #CONTAINERS
\*------------------------------------*/

.o-container {
  max-width: rem(1280px);
  padding-right: var(--space-unit);
  padding-left:  var(--space-unit);
  margin-right: auto;
  margin-left:  auto;
}
