<section class="c-home-intro">
    {{> '@hola!' }}
    <p class="o-lead-intro">
        I’m Ramiro, a designer & digital builder from Monterrey, Mexico. Here you’ll find a little <a href="/about">about me</a>, <a href="/work">my work</a>, <a href="/blog">writings</a>, <a href="/notes">thoughts</a>, <a href="/photos">photos</a>, and <a href="/links">things</a> I’m interested in.
    </p>
</section>