<article class="c-featured-post">
  <h3 class="c-featured-post__title"><a href="#" class="c-recent-post__link">Post title</a></h3>
  <time class="c-featured-post__date" datetime="2018-05-06T21:06:14-04:00">May 6 2019</time><span class="c-featured-post__read-time">4 minutes read</span>
  <p>This trend towards self-indulgence can be summed up in two words: developer experience. This is the idea that investing in the whims and wants of developers allows them to build faster and cheaper, thus helping them deliver a better product – eventually.</p>
</article>
