<ul class="c-posts-list o-stack--sm o-list-bare">
  <li class="c-posts-list__item">
    <h4 class="c-posts-list__title">
      <a href="#" class="c-posts-list__link">Hola</a>
    </h4>
    <time class="c-posts-list__date" datetime="2018-05-06T21:06:14-04:00">May 6 2019</time><span class="c-posts-list__read-time">4 minutes read</span>
  </li>
  <li class="c-posts-list__item o-stack--sm">
    <h4 class="c-posts-list__title">
      <a href="#" class="c-posts-list__link">Otro post</a>
    </h4>
    <time class="c-posts-list__date" datetime="2018-05-06T21:06:14-04:00">May 6 2019</time><span class="c-posts-list__read-time">4 minutes read</span>
  </li>
  <li class="c-posts-list__item o-stack--sm">
    <h4 class="c-posts-list__title">
      <a href="#" class="c-posts-list__link">Una publicación mas larga</a>
    </h4>
    <time class="c-posts-list__date" datetime="2018-05-06T21:06:14-04:00">May 6 2019</time><span class="c-posts-list__read-time">4 minutes read</span>
  </li>
</ul>
