<nav class="c-primary-nav">
  <h1 class="c-primary-nav__home">
    <a href="/" title="RamiroRuiz.com">
      {{render '@logo'}}
    </a>
  </h1>

  <ul class="c-primary-nav__list">
    <li class="c-primary-nav__item">
      <a href="#" class="c-primary-nav__link">Work</a>
    </li>
    <li class="c-primary-nav__item">
      <a href="#" class="c-primary-nav__link">About</a>
    </li>
    <li class="c-primary-nav__item">
      <a href="#" class="c-primary-nav__link">Blog</a>
    </li>
    <li class="c-primary-nav__item">
      <a href="#" class="c-primary-nav__link">Notes</a>
    </li>
  </ul>
</nav>
