<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Preview Layout</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,700,900|Titillium+Web:200i,400,900" rel="stylesheet">
	<link rel="stylesheet" href="{{ path '/css/main.css' }}">
</head>
<body>
	{{{ yield }}}
</body>
</html>
