.c-nav--primary {
  display: flex;
  z-index: 10;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  height: rem(88);
  padding-bottom: env(safe-area-inset-bottom); // iPhone X

  &::after {
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem(50);
    background-color: $color-brand-primary;
    content: '';
  }

  @media only screen and (min-width: rem(450)) {
    position: relative;
    justify-content: space-between;
    height: auto;

    &::after {
      content: none;
    }
  }
}

  .c-nav--primary__home {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: $nav-primary__height;
    margin: 0 auto;
    padding: var(--space-unit) var(--space-unit) var(--space-lg);
    border-radius: 50%;
    background-color: $color-brand-primary;
    text-align: center;

    @media only screen and (min-width: rem(450)) {
      position: static;
      width: auto;
      margin: 0;
      padding: var(--space-unit);
      background-color: transparent;
    }
  }

  .c-nav--primary__list {
    display: flex;
    width: 100%;
    padding: 0 rem(8);
    background-color: $color-brand-primary;

    @media only screen and (min-width: rem(450)) {
      width: auto;
    }
  }
    .c-nav--primary__item {

      & + & {
        margin-left: 2vw;
      }

      &:nth-child(2) {
        margin-right: auto;

        @media only screen and (min-width: rem(450)) {
          margin-right: 0;
        }
      }
    }
      .c-nav--primary__link {
        display: inline-block;
        padding: rem(12) 2vw;
        color: #1D1D1E;
        font-size: rem(12);
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        opacity: .8;
        transition: $global-transition;

        @include hocus() {
          transform: translateY(rem(-.5));
          text-decoration: none;
          opacity: 1;
        }

        &:active {
          transform: translateY(rem(.5));
        }
      }
