<nav class="c-nav--primary">
  <h1 class="c-nav--primary__home">
    <a class="c-nav--primary__home__link" href="/" title="RamiroRuiz.com">
      {{render '@logo'}} 
    </a>
  </h1>
  <ul class="c-nav--primary__list">
    {{#each listItem}}
    <li class="c-nav--primary__item">
      <a href="#" class="c-nav--primary__link">{{this}}</a>
    </li>
    {{/each}}
  </ul>
</nav>
