<nav class="c-nav--primary">
  <a class="c-nav--primary__home" href="/" title="RamiroRuiz.com">
    {{render '@logo'}}
  </a>
  <ul class="c-nav--primary__list">
    {{#each listItem}}
    <li class="c-nav--primary__item">
      <a href="#" class="c-nav--primary__link">{{this}}</a>
    </li>
    {{/each}}
  </ul>
</nav>
