.c-project-list {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: var(--space-md);
}
  .c-project-list__item {
    margin-left: var(--space-unit);
    scroll-snap-align: center;

    &:last-child {

      .c-project-list__link,
      .c-project-list__text {
        margin-right: var(--space-unit);
      }
    }
  }

    .c-project-list__link {
      min-width: 60vw;
      position: relative;
      display: block;
      text-decoration: none;
      color: $color-brand-secondary;
    }

      .c-project-list__title {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: rem(8) var(--space-unit) rem(8) rem(8);
        background-color: #fff;
      }


.c-stream-list {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: rem(8);

  @media only screen and (min-width: rem(420)) {
    grid-template-columns: repeat(8, 1fr);
  }
}

.c-stream-list__link {
  display: block;
  background-color: pink;
  min-width: 5vh;
  width: 100%;
  min-height: 5vh;
  height: 100%;
}
