.c-project-list {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
}
  .c-project-list__item {
    min-width: 50vw;
    margin-left: rem(16);
    scroll-snap-align: center;
  }

    .c-project-list__link {
      position: relative;
      display: block;
      text-decoration: none;
      color: $color-brand-secondary;
    }

      .c-project-list__title {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: rem(8) rem(16) rem(8) rem(8);
        background-color: #fff;
      }
