<ul class="c-project-list o-list-bare">
  {{#each project}}
  <li class="c-project-list__item">
    <a class="c-project-list__link" href="#">
    <h3 class="c-project-list__title">{{projectName}}</h3>
    <img class="c-project-list__img" src="{{#if imgSRC }}{{imgSRC}}{{else}}https://via.placeholder.com/1280x720/{{/if}}" alt="{{imgAlt}}">
    </a>
    <p class="c-project-list__text">I pulled out my sketchbook and started sketching a few ideas for ways.</p>
  </li>
  {{/each}}
</ul>
