<section class="c-footer">
    <div class="o-container o-grid o-grid--auto--xl">
        <div class="o-stack--sm">
            <a href="/es" lang="es" class="o-type-body-4 u-d-block">Español</a>
            <div>
                <p>Designed & coded with ♥️ in Monterrey, Mexico.</p>
                <p>© 2010 – 2021 <a href="#" class="u-ml-1">Colophon</a></p>
            </div>
        </div>
        <div class="o-stack--sm">
            <div class="c-footer__social">
                {{#each social-account }}
                <a href="#" class="c-footer__social-link">
                    <svg class="" aria-hidden="true">
                        <use href="#social-{{social}}"></use>
                    </svg>
                </a>
                {{/each}}
            </div>
            <a href="mailto:yo@ramiroruiz" class="c-btn c-btn--primary c-btn--primary-light">
                Email me
            </a>
        </div>
    </div>
</section>