<div class="o-stack--xl o-stack--xxl@md">
    <div class="o-page o-container o-stack--lg o-stack--xxl@md">
        <header class="o-stack--xl">
            {{ render '@nav' }}
            {{ render '@home-intro' }}
        </header>
        <main class="o-stack--xxl">
            {{#each section }}
            <section class="o-stack">
                {{> '@section-heading' }}
                {{> '@list' }}
            </section>
            {{/each}}
        </main>
    </div>
    {{ render '@footer' }}
</div>