<article class="h-entry c-posts__item o-stack">
    <div class="o-stack--xs">
        <header class="o-stack--xxs">
            <h1 class="c-posts__item-title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
            <div class="c-posts__item-meta">
                <span class="u-d-inline-flex u-align-items-center">
                    <svg class="o-icon" aria-hidden="true">
                        <use href="#icon-calendar"></use>
                    </svg>
                    <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">
                        {{ if eq .Lang "es" }}{{ .Date.Day }} {{ index $.Site.Data.meses (printf "%d" .Date.Month) }} {{ .Date.Year }}{{ else }}{{.Date.Format "Jan 2 2006"}}{{ end }}
                    </time>
                </span>
                <span class="u-d-inline-flex u-align-items-center u-ml-2">
                    <svg class="o-icon" aria-hidden="true">
                        <use href="#icon-read"></use>
                    </svg>
                    {{ .ReadingTime }} min
                </span>
            </div>
        </header>
        <p class="c-posts__item-summary">
            {{ .Summary }}
        </p>
    </div>
    <a class="c-btn c-btn--link" href="{{ .RelPermalink }}">Continue reading →</a>
</article>