<nav class="c-nav">
    <a class="c-nav__item c-nav__logo" href="/">{{ partial "components/logo.html" . }}</a>
    <a disabled class="c-nav__item" title="WIP">Work</a>
    {{ $current := . }}
    {{ $in_note := "" }}
    {{ if in (.Permalink | string) "/note" | or ( in (.Permalink | string) "all-notes" | or ( in (.Permalink | string) "nota") | or ( in (.Permalink | string) "todas-las-notas"))}}
        {{ $in_note = "is-active" }}
    {{ end }}
    {{ range .Site.Menus.nav }}
    {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
    {{ $active = or $active (eq .Name $current.Title) }}
    {{ $active = or $active (and (eq .Name "Blog") (eq $current.Section "blog")) }}
    {{ $active = or $active (and (eq .Name "About") (eq $current.Section "about")) }}
        <a href="{{ .URL | relLangURL }}" class="c-nav__item {{ if $active }}is-active{{ end }}">{{ .Name }}</a>
    {{ end }}
    <a href="{{"all-notes"| relLangURL}}" class="c-nav__item {{- if in (.Permalink | string) "/note" | or ( in (.Permalink | string) "all-notes") }} is-active{{- end -}}">{{i18n "notes"}}</a>
</nav>