<article class="h-entry c-masonry-list__item c-note {{with .type}}c-note--{{.}}{{end}} o-stack--xxs">
    <div class="c-note__content o-stack--xs">
    {{ with .reply }}
        {{partial "components/notes/reply.html"}}
    {{ end }}
    {{with .link }}
        {{partial "components/notes/links.html"}}
    {{end}}
    {{with .photo }}
        {{partial "components/notes/photo.html"}}
    {{end}}
    {{with .video }}
        {{partial "components/notes/video.html"}}
    {{end}}
    {{with .link }}

    {{else}}
        {{partial "components/notes/note.html"}}
    {{end}}
    {{with .repost }}
        {{partial "components/notes/repost.html"}}
    {{end}}
    </div>
    <a href="{{ .RelPermalink }}" class="c-note__date">
        <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">
            {{ if eq .Lang "es" }}{{ .Date.Day }} {{ index $.Site.Data.meses (printf "%d" .Date.Month) }} {{ .Date.Year }}{{ else }}{{.Date.Format "Jan 2 2006"}}{{ end }}
        </time>
    </a>
    <svg class="c-note__icon" aria-hidden="true">
        <use href="#note-{{.type}}"></use>
    </svg>
</article>