<nav class="c-nav">
    <a class="c-nav__item c-nav__logo" href="/">
        {{> '@logo' }}
    </a>
    <a disabled class="c-nav__item" title="WIP">Work</a>
    <a href="/about" class="c-nav__item">About</a>
    <a href="/blog" class="c-nav__item">Blog</a>
    <a href="/notes" class="c-nav__item">Notes</a>
</nav>