{{ define "main" }}
{{ $isTag := ""}}
{{ if in (.Permalink | string) "/tags/" }}
	{{ $isTag = "yes"}}
{{ end }}
<main class="o-container--main o-stack--xl">
	{{ partial "components/section-heading.html" (dict "section_heading_current" "yes" "section_heading" .Title "isTag" $isTag) }}
	<div class="o-grid-page o-stack--lg">
		{{ if in (.Permalink | string) "/not" }}
			{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" (slice "photos" "links" "notes" "replies" "videos")) 20 }}
			{{ range $paginator.Pages }}
				{{ partial "components/note-items.html" . }}
			{{end}}
		{{ else if eq .Type "photos" "links" "replies" "notes" "likes" "videos" }}
			{{ range .Paginator.Pages }}
				{{ partial "components/note-items.html" . }}
			{{end}}
		{{else}}
			{{ range .Paginator.Pages }}
				{{ if eq .Type "photos" "links" "replies" "notes" "likes" "videos" }}
					{{ partial "components/note-items.html" . }}
				{{ else }}
					{{ partial "components/list-entry" . }}
				{{ end }}
			{{ end }}
		{{ end }}
		{{ $paginator := .Paginate (where .Site.Pages "Type" "replies") }}

		{{ template "_internal/pagination.html" . }}
	</div>
</main>
{{ end }}
