{{ define "main" }}
{{ $isTag := ""}}
{{ if in (.Permalink | string) "/tags/" }}
	{{ $isTag = "yes"}}
{{ end }}
<main class="o-container--main o-stack o-stack--xl@sm">
	{{ partial "components/section-heading.html" (dict "section_heading_current" "yes" "section_heading" .Title "isTag" $isTag) }}
	<div class="o-grid-page o-stack o-stack--lg@md">
		<div class="o-grid-page--list">
			{{ if in (.Permalink | string) "/tags/" }}

			{{ else }}
				{{ partial "components/tag-list.html" . }}
			{{ end }}
			<div class="o-stack o-stack--lg@lg">
				{{ range .Paginator.Pages }}
					{{ if eq .Type "photos" "links" "replies" "notes" "likes" "videos" }}
						{{ partial "components/note-items.html" . }}
					{{ else }}
						{{ partial "components/list-entry" . }}
					{{ end }}
				{{ end }}
				{{ template "_internal/pagination.html" . }}
			</div>
		</div>
	</div>
</main>
{{ end }}
