{{ define "main" }}
{{ $isTag := ""}}
{{ if in (.Permalink | string) "/tags/" }}
	{{ $isTag = "yes"}}
{{ end }}
<main class="o-container--main o-stack--xl">
	{{ partial "components/section-heading.html" (dict "section_heading_current" "yes" "section_heading" .Title "isTag" $isTag) }}
	<div class="o-container o-container--list o-stack--xl u-px-0">
		{{ if in (.Permalink | string) "/not" }}
			{{ $paginator := .Paginate (where .Site.Pages "Type" "in" (slice "photos" "links" "notes" "replies" "videos")) 20 }}
			{{ range $paginator.Pages }}
				{{ partial "components/note-items.html" . }}
			{{end}}
		{{else}}
			{{ range .RegularPages }}
				{{ partial "components/list-entry" . }}
			{{ end }}
		{{ end }}
		{{ template "_internal/pagination.html" . }}
	</div>
</main>
{{ end }}
