/*------------------------------------*\
  #PAGE
\*------------------------------------*/

/**
 * Page-level styling (e.g. HTML and BODY elements).
 */

 // Nav Primary height
 $nav-primary__height: rem(88);

body {
  padding: rem(32) rem(32) $nav-primary__height + 1.25;

  @media only screen and (min-width: rem(450)) {
    padding: rem(32) rem(32);
  }
}
