/*------------------------------------*\
  #PAGE
\*------------------------------------*/

/**
 * Page-level styling (e.g. HTML and BODY elements).
 */

 // Nav Primary height
 $nav-primary__height: rem(88);

body {
  padding-bottom: $nav-primary__height + 1.25;

  font-family: "Public Sans", sans-serif;
  @supports (font-variation-settings: normal) {
    font-family: "Public Sans VF", sans-serif;
  }

  @media only screen and (min-width: rem(450)) {
    padding-bottom: 0;
  }
}
